<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.984777438583-18g6f35ie4pjaj1c04e2aq15sag9prgb</string>
	<key>API_KEY</key>
	<string>AIzaSyB8kk8k5J-apvqEOGRibtJAoYJloyRPy_I</string>
	<key>GCM_SENDER_ID</key>
	<string>45514203419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.b8ndd.b8ndDiary</string>
	<key>PROJECT_ID</key>
	<string>dailydiary-4f72c</string>
	<key>STORAGE_BUCKET</key>
	<string>dailydiary-4f72c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:45514203419:ios:6334f4543be82ac419f3be</string>
</dict>
</plist>
